ol{
    width :500px;
    height: 700px;
    border-radius: 20px;
    background-color: blanchedalmond;
    margin-left: 600px;
}
body{
    background-color: deepskyblue;
}
#final_con{
    
    margin-top: 50px;
    background-color: hotpink;
    width:800px;
    margin-right :60px;;
   
}